*{
    box-sizing: border-box;
}

body{
    margin-bottom: 7%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
nav{
    background: linear-gradient(100deg, rgba(88,88,88,1) 20%, rgba(242,172,51,1) 55%, rgba(222,114,39,1) 95%, rgba(222,116,38,1) 100%);
    box-shadow: 0 0 10px white;
}
nav a:hover{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.753);
    color: white;
}
.padding1{
    padding: 1%;
}
.pad2{
    padding: 10px;
    border-radius: 10px;
    margin-left: 3%;
}
.imgCentre{
    margin-left: 25%;
}
.fondvu{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    padding: 10px;
    color: black;
    margin: 0 auto;
}
.maxwidth{
    max-width: 70%;
}
.rounded1{
    border-radius: 15%;
}
.ml-25{
    margin-left: 25%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.hoverstop:hover{
    color: black;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);

}