{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}
    <img src="{{ asset('images/portrait1.jpg') }}" class="w-50 rounded1 padding1 imgCentre" alt="">
    <p class="padding1 fondvu">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, voluptas! Blanditiis, eos tempora exercitationem maxime incidunt perspiciatis quo libero facere vel nihil est ea aut alias assumenda eligendi consequatur reprehenderit vero, veniam repellat pariatur repudiandae facilis, praesentium asperiores nulla! Inventore, beatae voluptatibus. Molestias sapiente consectetur rem est hic quaerat dolore similique maxime in repellat totam, ipsa consequuntur exercitationem modi rerum ut magni, libero harum quod doloremque provident odit. Vero laboriosam odit ullam sint! Explicabo praesentium dolorem ab inventore omnis vel voluptas aliquid nisi sit libero. Sit placeat incidunt animi iure ex harum vero. Ex et quisquam soluta, placeat dolorum nihil laudantium nobis error illo aliquam nemo aut. Voluptas consequatur autem enim aliquid dicta accusamus error nulla ipsum laudantium? Maiores quam veritatis voluptas rerum quisquam optio deserunt perspiciatis officiis facilis! Eum aut suscipit exercitationem voluptatum enim esse aperiam consequatur tempora iure, officia numquam quod tempore ratione est illo, mollitia ut veritatis laborum recusandae adipisci laudantium. Repellendus harum eveniet nulla? Veritatis ullam repellat quis mollitia quisquam aliquam ipsum maiores sequi quo eaque, quae sed natus nulla! Quam nulla quo ad explicabo id amet nesciunt, aspernatur, nisi quas, tempore pariatur ducimus adipisci impedit iure nobis earum dicta voluptas minima voluptate? Vel, quasi eos!</p>
    <h1 class="w-40 padding1 text-center fondvu mt-2 mb-2">Liste des dernieres Expos</h1>

    {% for expo in expos %}
         <a href="{{ path('exposition') }}?id={{expo.id}}" class="text-center text-decoration-none fondvu ml-25 hoverstop">{{ expo.getId() }}</a>
    {% endfor %}

{% endblock %}

   
